# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\POLI\4.1\Java problems\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
